<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <header>
      <a href="/" class="main-logo">VOTE VOTE</a>
      <div class="user-box">
        <a href="/votings/new" class="create-vote">/ + /</a>
        <a href="/votings" class="my-vote">/ My page /</a>
        <a href="/logout" class="logout">/ logout /</a>
      </div>
    </header>
    <div class="section-body">
      <% voteInformation.forEach(vote => { %>
      <a
        href="/votings/<%= vote._id %>"
        class="vote-element progress-<%= vote.inProgress %>"
      >
        <div class="vote-title"><%= vote.title %></div>
        <div class="vote-host"><span><%= vote.host %></span></div>
        <div class="vote-expiration">
          <span>expiration - <%= vote.expiration%></span>
        </div>
      </a>
      <% }); %>
    </div>
  </body>
</html>
